<article class="message comment is-primary">
  <div class="message-header comment-header">
    <h3>{{user.username}}</h3>
    <div class="comment-datetime">
      <p class="date">{{comment_time}}</p>
    </div>
  </div>
  <div class="message-body comment-body">
    {{comment_text}}
  </div>
</article>