<div class="card">
  <div class="card-header">
    <span class="post-user">Featured</span>
    <span class="post-time">|
      {{format_date created_at}}|
    </span>
  </div>
  <div class="card-body">
    <h5 class="card-title"><a href="/post/{{id}}">{{title}}</a></h5>
    <p class="card-text">
      {{post_content}}
    </p>
  </div>

</div>