/** @format */

.card {
  margin: 1.2rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.comment {
  padding-left: 2rem;
}

.commenter {
  display: flex;
  justify-content: space-between;
}

.comment-time {
  font-size: small;
  color: gray;
}

.login {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.form-group {
  margin: 1rem;
  display: flex;
  justify-content: right;
}

.create-post-title {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.btn-danger {
  margin: 2rem;
}
