/** @format */

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: xx-large;
  margin: 10px;
}

.form {
  margin: 5rem;
}

h2 {
  font-size: x-llarge;
  font-weight: bold;
}

.post {
  margin: 10%;
}

.comment-button {
  display: flex;
  justify-content: right;
  padding: 3px;
}

h3 {
  font-size: large;
}

.date,
.time {
  font-size: small;
}

.comment {
  margin: 2px;
}

.comment-header {
  height: 2px;
  width: 80%;
}

.comment-body {
  font-size: small;
}

#create-post {
  align-self: center;
  margin: 10px;
}

.field {
  margin: 10px;
}
